<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-white shadow-sm">
<div class="container">
    <a href="/" class="navbar-brand">
        <i class="bi bi-code"></i> BlogApp
    </a>
</div>
</nav>
@RenderBody()
</body>
</html>