@model Product
@{
    ViewData["Title"] = "Create";
}

<form aasp-controller="Home" asp-action="Create" class="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label"></label>
        <input asp-for="Image" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select">
            <option value="0">Hepsi</option>
        </select>
    </div>
    <div class="mb-3 form-check"></div>
    <input type="checkbox" name="IsActive" id="IsActive" class="form-check-label">
    <label for="IsActive" class="form-check-label">IsActive</label>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
